* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #aa5486;
  background-color: #fbf4db;
}

/* Style Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color:#ffe1f3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #aa5486;
}

.navbar .nav-logo span {
  color: #fc8f54;
}

.navbar .navbar-nav a {
  font-size: 1.1rem;
  display: inline-block;
  margin: 0 0.7rem;
  color: #aa5486;
}

.navbar .navbar-nav a:hover {
  text-decoration: underline;
  color: #fc8f54;
}

.navbar .navbar-nav .btn-start {
  background-color: #aa5486;
  color: white;
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 1.1rem;
}

.navbar .navbar-nav .btn-start:hover {
  text-decoration: none;
  background-color: #fc8f54;
  color: white;
}

/* Style Home */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #aa5486;
  color: #fbf4db;
}

.hero .content1 {
  padding: 1.5rem 7%;
}

.hero .content1 .con1-judul {
  font-size: 4.5rem;
  line-height: 5rem;
}

.hero .content1 .con1-judul span {
  color: #fc8f54;
}

.hero .content1 .des-home {
  font-size: 1.2rem;
  margin-top: 5px;
}

.hero .content1 a {
  display: inline-block;
  font-size: 1.5rem;
  background-color: #fde7bb;
  color: #aa5486;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 4px 8px;
  font-weight: 700;
}

.hero .content1 a:hover {
  color: #fbf4db;
  background-color: #fc8f54;
}

/* Style Fitur BMI */

.hero2 {
  min-height: 100vh;
  padding: 1.4rem 7%;
  align-items: center;
  align-content: center;
}

.hero2 .content2 .con2-judul {
  font-size: 3rem;
}

.hero2 .content2 ol {
  margin-top: 1rem;
}

.hero2 .content2 ol li {
  font-size: 1.4rem;
  margin-left: 3rem;
  margin-top: 0.5rem;
}

.hero2 .content2 .con2-des {
  font-size: 1.4rem;
  margin-left: 3rem;
  margin-top: 1rem;
}

.hero2 .content2 .con2-des span {
  color: #fc8f54;
}

/* Style BMI Calculator */

.container {
  min-height: 170vh;
  background-color: #fde7bb;
  text-align: center;
  align-content: center;
}

.container .box {
  width: auto;
  margin: 0 15% 0 15%;
  border-radius: 20px;
  text-align: center;
}

.container .box .jd-bmi {
  font-size: 2.5rem;
  font-weight: bold;
  color:#aa5486;
  margin-bottom: 1rem;
}

.content3 {
  width: auto;
  background-color:#fbf4db;
  margin: 0 30% 0 30%;
  border-radius: 20px;
  padding: 1rem;
}

.content3 .input-rad {
  width: auto;
  background-color: #f0ecda;
  margin: 0 15% 0 15%;
  border-radius: 10px;
  margin-bottom: 1rem;
  text-align: center;
}

.content3 .input-rad .jd-rad {
  font-size: 1.5rem;
  margin-bottom: 7px;
}

.content3 .input-rad .rad {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
}

.content3 .input {
  width: auto;
  background-color: #f0ecda;
  margin: 0 15% 0 15%;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1rem;
  text-align: center;
}

.content3 .input label {
  font-size: 1.5rem;
  padding: 5px;
  text-align: center;
}

.content3 .input input[type="text"] {
  padding: 1rem;
  width: 80%;
  border-radius: 10px;
  margin-top: 0.5rem;
  text-align: center;
}

.content3 .input input[type="number"] {
  padding: 1rem;
  width: 80%;
  border-radius: 10px;
  margin-top: 0.5rem;
  text-align: center;
}

.content3 .button #calculate {
  font-size: 1.7rem;
  background-color: #aa5486;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}

.content3 .button {
  display: flex;
  justify-content: space-evenly;
}

.jd-result{
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 3rem;
}

.result{
  background-color:#fbf4db;
  width: auto;
  margin-top: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  
}

.result .gen-result1{
  font-size: 1.5rem;
}

.result .gen-result2{
  font-size: 1.5rem;
}

.result .tagline{
  font-size: 1.1rem;
  margin-top: 5px;
}

.result .bmi{
  font-size: 3.5rem;
  padding: 5px;
}

.result .comment{
  font-size: 1.2rem;
}

.result .comment span{
  color: #fc8f54;
}

.result .penjelasan{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.result .des{
  font-size: 1.3rem;
  margin-top: 5px;
}

.result .donwload{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #aa5486;
  color: white;
  padding: 5px 10px;
  border-radius: 7px;
  margin-top: 1.5rem;
}

.footer{
  max-height: auto;
  background-color:#fc8f54;
  text-align: center;
}

footer .fot-text{
  font-size: 1.2rem;
  color: white;
  padding: 1rem;
}

/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .content3 .input input[type="text"]{
    width: 65%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62%;
  }
  .content3 .input input[type="text"]{
    width: 45%px;
  }
}

/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .content3 .input input[type="text"]{
    width: 35%px;
  }
}
