* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #aa5486;
  background-color: #fbf4db;
}

/* Style Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: #fde7bb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #aa5486;
}

.navbar .nav-logo span {
  color: #fc8f54;
}

.navbar .navbar-nav a {
  font-size: 1.1rem;
  display: inline-block;
  margin: 0 0.7rem;
  color: #aa5486;
}

.navbar .navbar-nav a:hover {
  text-decoration: underline;
  color: #fc8f54;
}

.navbar .navbar-nav .btn-start {
  background-color: #aa5486;
  color: white;
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 1.1rem;
}

.navbar .navbar-nav .btn-start:hover {
  text-decoration: none;
  background-color: #fc8f54;
  color: white;
}

/* Style Home */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #aa5486;
  color: #fbf4db;
}

.hero .content1 {
  padding: 1.5rem 7%;
}

.hero .content1 .con1-judul {
  font-size: 4.5rem;
  line-height: 5rem;
}

.hero .content1 .con1-judul span {
  color: #fc8f54;
}

.hero .content1 .des-home {
  font-size: 1.2rem;
  margin-top: 5px;
}

.hero .content1 a {
  display: inline-block;
  font-size: 1.5rem;
  background-color: #fde7bb;
  color: #aa5486;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 4px 8px;
  font-weight: 700;
}

.hero .content1 a:hover {
  color: #fbf4db;
  background-color: #fc8f54;
}

/* Style Fitur BMI */

.hero2 {
  min-height: 100vh;
  padding: 1.4rem 7%;
  align-items: center;
  align-content: center;
}

.hero2 .content2 .con2-judul {
  font-size: 3rem;
}

.hero2 .content2 ol {
  margin-top: 1rem;
}

.hero2 .content2 ol li {
  font-size: 1.4rem;
  margin-left: 3rem;
  margin-top: 0.5rem;
}

.hero2 .content2 .con2-des {
  font-size: 1.4rem;
  margin-left: 3rem;
  margin-top: 1rem;
}

.hero2 .content2 .con2-des span {
  color: #fc8f54;
}

/* Style BMI Calculator */

.hero3 {
  min-height: 100vh;
  background-color: #fc8f54;
  align-content: center;
  text-align: center;
}

.hero3 .con3-form {
}

.hero3 .con3-form .box {
  min-width: 200px;
  background-color: #fbf4db;
  margin: 0 25% 0 25%;
  border-radius: 10px;
}

.hero3 .con3-form .box .con3-judul {
  font-size: 3rem;
  padding: 1rem 0 1rem 0;
}

.hero3 .con3-form .box .con3-gen {
  background-color: #fde7bb;
  text-align: center;
}

/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62%;
  }
}

/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
